<div class="text-3xl text-center">DashBoard</div>
<button (click)="add()" class="bg-green-500 w-24 rounded-md shadow-md text-white">Add data</button>
<div>
    
    <!-- {{name}}
    {{email}}
    {{number}} -->
    <div class="text-center text-xl">This is the Data</div>
    <div  class="flex flex-col items-center justify-center">
        <div class="flex flex-col gap-2 justify-center items-center w-1/2" *ngFor="let item of studentslist">
            <div class="shadow-md w-1/2 p-1 m-1 border-t-8 rounded-md border-gray-500">
                <div>Name- {{item.name}}</div>
                <div>Email- {{item.email}}</div>
                <div>Mobile no.- {{item.number}}</div>
                <button (click)="delete(item)" class="bg-red-500 w-24 m-1 p-1 rounded-md text-white">Delete</button>
            </div>
        </div>
    </div>
</div>